openapi: 3.1.0
info:
  title: Azure Kubernetes Service REST API
  description: >-
    REST API for managing Azure Kubernetes Service (AKS) resources including
    managed clusters, agent pools, maintenance configurations, snapshots,
    private endpoint connections, and trusted access role bindings. AKS
    simplifies deploying a managed Kubernetes cluster in Azure by offloading
    operational overhead such as health monitoring and maintenance.
  version: '2025-10-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/options/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
  x-apisguru-categories:
    - cloud
    - containers
    - kubernetes
  x-logo:
    url: https://azure.microsoft.com/images/aks-icon.png
servers:
  - url: https://management.azure.com
    description: Azure Resource Manager
security:
  - azure_auth:
      - user_impersonation
tags:
  - name: Agent Pools
    description: Operations for managing agent pools (node pools) within AKS clusters
    externalDocs:
      url: https://learn.microsoft.com/en-us/rest/api/aks/agent-pools
  - name: Managed Clusters
    description: Operations for managing AKS managed clusters
    externalDocs:
      url: https://learn.microsoft.com/en-us/rest/api/aks/managed-clusters
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/managedClusters:
    get:
      operationId: ManagedClusters_List
      summary: Azure Kubernetes Service List managed clusters
      description: >-
        Gets a list of managed clusters in the specified subscription.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedClusterListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters:
    get:
      operationId: ManagedClusters_ListByResourceGroup
      summary: Azure Kubernetes Service List managed clusters by resource group
      description: >-
        Lists managed clusters in the specified subscription and resource group.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedClusterListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}
  : get:
      operationId: ManagedClusters_Get
      summary: Azure Kubernetes Service Get a managed cluster
      description: Gets the details of the managed cluster with a specified resource group and name.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCluster'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    put:
      operationId: ManagedClusters_CreateOrUpdate
      summary: Azure Kubernetes Service Create or update a managed cluster
      description: Creates or updates a managed cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: if-match
          in: header
          description: >-
            The request should only proceed if an entity matches this string.
          schema:
            type: string
        - name: if-none-match
          in: header
          description: >-
            The request should only proceed if no entity matches this string.
          schema:
            type: string
      requestBody:
        required: true
        description: The managed cluster to create or update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCluster'
      responses:
        '200':
          description: OK. The update operation has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCluster'
        '201':
          description: Created. The create operation has succeeded.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds to check on operation status.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCluster'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    patch:
      operationId: ManagedClusters_UpdateTags
      summary: Azure Kubernetes Service Update managed cluster tags
      description: Updates tags on a managed cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: Parameters supplied to the Update Managed Cluster Tags operation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsObject'
      responses:
        '200':
          description: OK. The update tags operation has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCluster'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    delete:
      operationId: ManagedClusters_Delete
      summary: Azure Kubernetes Service Delete a managed cluster
      description: Deletes a managed cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The delete operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds to check on operation status.
              schema:
                type: integer
        '204':
          description: No Content. The resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/upgradeProfiles/default
  : get:
      operationId: ManagedClusters_GetUpgradeProfile
      summary: Azure Kubernetes Service Get upgrade profile for a managed cluster
      description: Gets the upgrade profile of a managed cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedClusterUpgradeProfile'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/listClusterAdminCredential
  : post:
      operationId: ManagedClusters_ListClusterAdminCredentials
      summary: Azure Kubernetes Service List cluster admin credentials
      description: Lists the admin credentials of a managed cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResults'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/listClusterUserCredential
  : post:
      operationId: ManagedClusters_ListClusterUserCredentials
      summary: Azure Kubernetes Service List cluster user credentials
      description: Lists the user credentials of a managed cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResults'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/listClusterMonitoringUserCredential
  : post:
      operationId: ManagedClusters_ListClusterMonitoringUserCredentials
      summary: Azure Kubernetes Service List cluster monitoring user credentials
      description: Lists the cluster monitoring user credentials of a managed cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResults'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/rotateClusterCertificates
  : post:
      operationId: ManagedClusters_RotateClusterCertificates
      summary: Azure Kubernetes Service Rotate cluster certificates
      description: Rotates the certificates of a managed cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        '204':
          description: No Content.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/stop
  : post:
      operationId: ManagedClusters_Stop
      summary: Azure Kubernetes Service Stop a managed cluster
      description: >-
        Stops a previously running managed cluster. This can only be performed
        on Azure Virtual Machine Scale Set backed clusters. Stopping a cluster
        stops the control plane and agent nodes entirely while maintaining all
        object and cluster state.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        '204':
          description: No Content.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/start
  : post:
      operationId: ManagedClusters_Start
      summary: Azure Kubernetes Service Start a managed cluster
      description: Starts a previously stopped managed cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        '204':
          description: No Content.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/runCommand
  : post:
      operationId: ManagedClusters_RunCommand
      summary: Azure Kubernetes Service Run a command on a managed cluster
      description: >-
        Submits a command to run against the Managed Cluster. This is useful
        for running kubectl commands on a private cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: The run command request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunCommandRequest'
      responses:
        '200':
          description: OK. Command completed synchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunCommandResult'
        '202':
          description: Accepted. The command will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/abort
  : post:
      operationId: ManagedClusters_AbortLatestOperation
      summary: Azure Kubernetes Service Abort the latest operation on a managed cluster
      description: >-
        Aborts the currently running operation on the managed cluster.
        The Managed Cluster will be moved to a Canceling state and eventually
        to a Canceled state when cancellation finishes.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        '204':
          description: No Content. No operation running.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools
  : get:
      operationId: AgentPools_List
      summary: Azure Kubernetes Service List agent pools
      description: Gets a list of agent pools in the specified managed cluster.
      tags:
        - Agent Pools
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPoolListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}
  : get:
      operationId: AgentPools_Get
      summary: Azure Kubernetes Service Get an agent pool
      description: Gets the specified managed cluster agent pool.
      tags:
        - Agent Pools
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/AgentPoolNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    put:
      operationId: AgentPools_CreateOrUpdate
      summary: Azure Kubernetes Service Create or update an agent pool
      description: Creates or updates an agent pool in the specified managed cluster.
      tags:
        - Agent Pools
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/AgentPoolNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: if-match
          in: header
          description: >-
            The request should only proceed if an entity matches this string.
          schema:
            type: string
        - name: if-none-match
          in: header
          description: >-
            The request should only proceed if no entity matches this string.
          schema:
            type: string
      requestBody:
        required: true
        description: The agent pool to create or update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPool'
      responses:
        '200':
          description: OK. The update operation has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPool'
        '201':
          description: Created. The create operation has succeeded.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds to check on operation status.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    delete:
      operationId: AgentPools_Delete
      summary: Azure Kubernetes Service Delete an agent pool
      description: Deletes an agent pool in the specified managed cluster.
      tags:
        - Agent Pools
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/AgentPoolNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The delete operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds to check on operation status.
              schema:
                type: integer
        '204':
          description: No Content. The resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/upgradeProfiles/default
  : get:
      operationId: AgentPools_GetUpgradeProfile
      summary: Azure Kubernetes Service Get the upgrade profile for an agent pool
      description: Gets the upgrade profile for an agent pool.
      tags:
        - Agent Pools
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/AgentPoolNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPoolUpgradeProfile'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/availableAgentPoolVersions
  : get:
      operationId: AgentPools_GetAvailableAgentPoolVersions
      summary: Azure Kubernetes Service Get available agent pool versions
      description: Gets a list of supported Kubernetes versions for the specified agent pool.
      tags:
        - Agent Pools
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/AgentPoolNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPoolAvailableVersions'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/upgradeNodeImageVersion
  : post:
      operationId: AgentPools_UpgradeNodeImageVersion
      summary: Azure Kubernetes Service Upgrade node image version
      description: Upgrades the node image version of an agent pool to the latest.
      tags:
        - Agent Pools
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/AgentPoolNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The agent pool node image has been upgraded.
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/abort
  : post:
      operationId: AgentPools_AbortLatestOperation
      summary: Azure Kubernetes Service Abort latest operation on an agent pool
      description: Aborts the currently running operation on the agent pool.
      tags:
        - Agent Pools
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/AgentPoolNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        '204':
          description: No Content. No operation running.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/deleteMachines
  : post:
      operationId: AgentPools_DeleteMachines
      summary: Azure Kubernetes Service Delete specific machines in an agent pool
      description: Deletes specific machines in an agent pool.
      tags:
        - Agent Pools
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/AgentPoolNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: The machine names to delete.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPoolDeleteMachinesParameter'
      responses:
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription. Must be a valid UUID.
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: >-
        The name of the resource group. The name is case insensitive.
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: The name of the managed cluster resource.
      schema:
        type: string
        minLength: 1
        maxLength: 63
        pattern: '^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$'
    AgentPoolNameParameter:
      name: agentPoolName
      in: path
      required: true
      description: The name of the agent pool.
      schema:
        type: string
        minLength: 1
        maxLength: 12
        pattern: '^[a-z][a-z0-9]{0,11}$'
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        default: '2025-10-01'
  schemas:
    ManagedCluster:
      type: object
      description: Managed cluster resource representing an Azure Kubernetes Service cluster.
      required:
        - location
      properties:
        id:
          type: string
          readOnly: true
          description: >-
            Fully qualified resource ID for the resource.
            Example: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}
        name:
          type: string
          readOnly: true
          description: The name of the resource.
        type:
          type: string
          readOnly: true
          description: >-
            The type of the resource.
            Example: Microsoft.ContainerService/managedClusters
        location:
          type: string
          description: The geo-location where the resource lives.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        sku:
          $ref: '#/components/schemas/ManagedClusterSKU'
        kind:
          type: string
          description: >-
            This is primarily used to expose different UI experiences in the
            portal for different kinds.
        identity:
          $ref: '#/components/schemas/ManagedClusterIdentity'
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocation'
        systemData:
          $ref: '#/components/schemas/SystemData'
          readOnly: true
        properties:
          $ref: '#/components/schemas/ManagedClusterProperties'
    ManagedClusterProperties:
      type: object
      description: Properties of the managed cluster.
      properties:
        provisioningState:
          type: string
          readOnly: true
          description: >-
            The current provisioning state of the managed cluster resource.
        powerState:
          $ref: '#/components/schemas/PowerState'
          readOnly: true
        maxAgentPools:
          type: integer
          format: int32
          readOnly: true
          description: The max number of agent pools for the managed cluster.
        kubernetesVersion:
          type: string
          description: >-
            The version of Kubernetes specified by the user. Both patch version
            (e.g. 1.20.13) and minor version (e.g. 1.20) are supported. When
            a minor version is specified, the latest supported patch version is
            chosen automatically.
        currentKubernetesVersion:
          type: string
          readOnly: true
          description: >-
            The version of Kubernetes the Managed Cluster is running.
        dnsPrefix:
          type: string
          description: >-
            This cannot be updated once the Managed Cluster has been created.
        fqdnSubdomain:
          type: string
          description: >-
            This cannot be updated once the Managed Cluster has been created.
            Used only with private clusters with custom private DNS zone.
        fqdn:
          type: string
          readOnly: true
          description: The FQDN of the master pool.
        privateFQDN:
          type: string
          readOnly: true
          description: The FQDN of private cluster.
        azurePortalFQDN:
          type: string
          readOnly: true
          description: >-
            The special FQDN used by the Azure Portal to access the Managed
            Cluster. It is only set for private cluster enabled clusters.
        enableRBAC:
          type: boolean
          description: Whether to enable Kubernetes Role-Based Access Control.
        supportPlan:
          type: string
          description: The support plan for the Managed Cluster.
          enum:
            - KubernetesOfficial
            - AKSLongTermSupport
          default: KubernetesOfficial
        disableLocalAccounts:
          type: boolean
          description: >-
            If set to true, getting static credentials will be disabled for
            this cluster.
        nodeResourceGroup:
          type: string
          description: >-
            The name of the resource group containing agent pool nodes.
        nodeResourceGroupProfile:
          $ref: '#/components/schemas/ManagedClusterNodeResourceGroupProfile'
        agentPoolProfiles:
          type: array
          items:
            $ref: '#/components/schemas/ManagedClusterAgentPoolProfile'
          description: The agent pool properties.
        linuxProfile:
          $ref: '#/components/schemas/ContainerServiceLinuxProfile'
        windowsProfile:
          $ref: '#/components/schemas/ManagedClusterWindowsProfile'
        servicePrincipalProfile:
          $ref: '#/components/schemas/ManagedClusterServicePrincipalProfile'
        identityProfile:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentity'
          description: Identities associated with the cluster.
        addonProfiles:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ManagedClusterAddonProfile'
          description: The profile of managed cluster add-ons.
        networkProfile:
          $ref: '#/components/schemas/ContainerServiceNetworkProfile'
        aadProfile:
          $ref: '#/components/schemas/ManagedClusterAADProfile'
        autoScalerProfile:
          $ref: '#/components/schemas/ManagedClusterAutoScalerProfile'
        autoUpgradeProfile:
          $ref: '#/components/schemas/ManagedClusterAutoUpgradeProfile'
        upgradeSettings:
          $ref: '#/components/schemas/ClusterUpgradeSettings'
        apiServerAccessProfile:
          $ref: '#/components/schemas/ManagedClusterAPIServerAccessProfile'
        diskEncryptionSetID:
          type: string
          description: >-
            The Resource ID of the disk encryption set to use for enabling
            encryption at rest.
        securityProfile:
          $ref: '#/components/schemas/ManagedClusterSecurityProfile'
        storageProfile:
          $ref: '#/components/schemas/ManagedClusterStorageProfile'
        ingressProfile:
          $ref: '#/components/schemas/ManagedClusterIngressProfile'
        oidcIssuerProfile:
          $ref: '#/components/schemas/ManagedClusterOIDCIssuerProfile'
        metricsProfile:
          $ref: '#/components/schemas/ManagedClusterMetricsProfile'
        azureMonitorProfile:
          $ref: '#/components/schemas/ManagedClusterAzureMonitorProfile'
        serviceMeshProfile:
          $ref: '#/components/schemas/ServiceMeshProfile'
        workloadAutoScalerProfile:
          $ref: '#/components/schemas/ManagedClusterWorkloadAutoScalerProfile'
    ManagedClusterAgentPoolProfile:
      type: object
      description: Profile for the container service agent pool.
      required:
        - name
      properties:
        name:
          type: string
          description: >-
            The unique name of the agent pool profile in the context of the
            subscription and resource group.
          minLength: 1
          maxLength: 12
          pattern: '^[a-z][a-z0-9]{0,11}$'
        count:
          type: integer
          format: int32
          description: >-
            Number of agents (VMs) to host docker containers. Allowed values
            must be in the range of 0 to 1000 (inclusive) for user pools and
            in the range of 1 to 1000 (inclusive) for system pools.
        vmSize:
          type: string
          description: >-
            The size of the agent VMs.
            Example: Standard_DS2_v2
        osDiskSizeGB:
          type: integer
          format: int32
          minimum: 0
          maximum: 2048
          description: >-
            OS Disk Size in GB to be used to specify the disk size for every
            machine in the master/agent pool.
        osDiskType:
          type: string
          description: The OS disk type to be used for machines in the agent pool.
          enum:
            - Managed
            - Ephemeral
        kubeletDiskType:
          type: string
          description: >-
            Determines the placement of emptyDir volumes, container runtime
            data root, and Kubelet ephemeral storage.
          enum:
            - OS
            - Temporary
        maxPods:
          type: integer
          format: int32
          description: The maximum number of pods that can run on a node.
        osType:
          type: string
          description: The operating system type.
          enum:
            - Linux
            - Windows
          default: Linux
        osSKU:
          type: string
          description: >-
            Specifies the OS SKU used by the agent pool.
          enum:
            - Ubuntu
            - AzureLinux
            - CBLMariner
            - Windows2019
            - Windows2022
            - WindowsAnnual
        type:
          type: string
          description: The type of Agent Pool.
          enum:
            - VirtualMachineScaleSets
            - AvailabilitySet
            - VirtualMachines
        mode:
          type: string
          description: >-
            The mode of an agent pool. A cluster must have at least one
            System agent pool at all times.
          enum:
            - System
            - User
            - Gateway
        orchestratorVersion:
          type: string
          description: >-
            The version of Kubernetes running on the Agent Pool.
        currentOrchestratorVersion:
          type: string
          readOnly: true
          description: >-
            The version of Kubernetes the Agent Pool is running.
        nodeImageVersion:
          type: string
          readOnly: true
          description: The version of node image.
        enableAutoScaling:
          type: boolean
          description: Whether to enable auto-scaler.
        minCount:
          type: integer
          format: int32
          description: The minimum number of nodes for auto-scaling.
        maxCount:
          type: integer
          format: int32
          description: The maximum number of nodes for auto-scaling.
        scaleSetPriority:
          type: string
          description: The Virtual Machine Scale Set priority.
          enum:
            - Spot
            - Regular
          default: Regular
        scaleSetEvictionPolicy:
          type: string
          description: The Virtual Machine Scale Set eviction policy.
          enum:
            - Delete
            - Deallocate
          default: Delete
        spotMaxPrice:
          type: number
          format: float
          description: >-
            The maximum price (in US Dollars) you are willing to pay for spot
            instances. Possible values are any decimal value greater than zero
            or -1 which indicates that default price is up-to on-demand.
        scaleDownMode:
          type: string
          description: >-
            Describes how VMs are added to or removed from Agent Pools.
          enum:
            - Delete
            - Deallocate
          default: Delete
        vnetSubnetID:
          type: string
          description: >-
            The ID of the subnet which agent pool nodes and optionally pods
            will join on startup.
        podSubnetID:
          type: string
          description: >-
            The ID of the subnet which pods will join when launched.
        enableNodePublicIP:
          type: boolean
          description: >-
            Whether each node is allocated its own public IP.
        nodePublicIPPrefixID:
          type: string
          description: >-
            The public IP prefix ID for the nodes in the agent pool.
        enableEncryptionAtHost:
          type: boolean
          description: >-
            Whether to enable host-based OS and data drive encryption.
        enableFIPS:
          type: boolean
          description: >-
            Whether to use a FIPS-enabled OS.
        enableUltraSSD:
          type: boolean
          description: Whether to enable UltraSSD.
        nodeLabels:
          type: object
          additionalProperties:
            type: string
          description: >-
            The node labels to be persisted across all nodes in agent pool.
        nodeTaints:
          type: array
          items:
            type: string
          description: >-
            The taints added to new nodes during node pool create and scale.
        tags:
          type: object
          additionalProperties:
            type: string
          description: >-
            The tags to be persisted on the agent pool virtual machine scale set.
        proximityPlacementGroupID:
          type: string
          description: The ID for Proximity Placement Group.
        upgradeSettings:
          $ref: '#/components/schemas/AgentPoolUpgradeSettings'
        powerState:
          $ref: '#/components/schemas/PowerState'
        availabilityZones:
          type: array
          items:
            type: string
          description: >-
            The list of Availability zones to use for nodes.
            This can only be specified if the AgentPoolType property is
            VirtualMachineScaleSets.
        creationData:
          $ref: '#/components/schemas/CreationData'
        workloadRuntime:
          type: string
          description: Determines the type of workload a node can run.
          enum:
            - OCIContainer
            - WasmWasi
            - KataMshvVmIsolation
        messageOfTheDay:
          type: string
          description: >-
            A base64-encoded string which will be written to /etc/motd after
            decoding. Applicable only for Linux nodes.
    AgentPool:
      type: object
      description: Agent pool resource within a managed cluster.
      properties:
        id:
          type: string
          readOnly: true
          description: Resource ID.
        name:
          type: string
          readOnly: true
          description: >-
            The name of the resource that is unique within a resource group.
        type:
          type: string
          readOnly: true
          description: Resource type.
        properties:
          $ref: '#/components/schemas/AgentPoolProperties'
    AgentPoolProperties:
      type: object
      description: Properties for the container service agent pool profile.
      properties:
        provisioningState:
          type: string
          readOnly: true
          description: The current deployment or provisioning state.
        count:
          type: integer
          format: int32
          description: >-
            Number of agents (VMs) to host docker containers. Allowed values
            must be in the range of 0 to 1000 (inclusive) for user pools and
            in the range of 1 to 1000 (inclusive) for system pools. The
            default value is 1.
        vmSize:
          type: string
          description: The size of the agent VMs.
        osDiskSizeGB:
          type: integer
          format: int32
          minimum: 0
          maximum: 2048
          description: OS Disk Size in GB.
        osDiskType:
          type: string
          enum:
            - Managed
            - Ephemeral
          description: The OS disk type.
        kubeletDiskType:
          type: string
          enum:
            - OS
            - Temporary
          description: Kubelet disk type.
        maxPods:
          type: integer
          format: int32
          description: The maximum number of pods that can run on a node.
        osType:
          type: string
          enum:
            - Linux
            - Windows
          default: Linux
          description: The operating system type.
        osSKU:
          type: string
          enum:
            - Ubuntu
            - AzureLinux
            - CBLMariner
            - Windows2019
            - Windows2022
            - WindowsAnnual
          description: Specifies the OS SKU used by the agent pool.
        type:
          type: string
          enum:
            - VirtualMachineScaleSets
            - AvailabilitySet
            - VirtualMachines
          description: The type of Agent Pool.
        mode:
          type: string
          enum:
            - System
            - User
            - Gateway
          description: A cluster must have at least one System agent pool at all times.
        orchestratorVersion:
          type: string
          description: The version of Kubernetes running on the Agent Pool.
        currentOrchestratorVersion:
          type: string
          readOnly: true
          description: The running Kubernetes version on the Agent Pool.
        nodeImageVersion:
          type: string
          readOnly: true
          description: The version of node image.
        enableAutoScaling:
          type: boolean
          description: Whether to enable auto-scaler.
        minCount:
          type: integer
          format: int32
          description: The minimum number of nodes for auto-scaling.
        maxCount:
          type: integer
          format: int32
          description: The maximum number of nodes for auto-scaling.
        scaleSetPriority:
          type: string
          enum:
            - Spot
            - Regular
          default: Regular
          description: The Virtual Machine Scale Set priority.
        scaleSetEvictionPolicy:
          type: string
          enum:
            - Delete
            - Deallocate
          default: Delete
          description: The Virtual Machine Scale Set eviction policy.
        spotMaxPrice:
          type: number
          format: float
          description: The maximum price for spot instances.
        scaleDownMode:
          type: string
          enum:
            - Delete
            - Deallocate
          default: Delete
          description: Describes how VMs are added to or removed from Agent Pools.
        vnetSubnetID:
          type: string
          description: The ID of the subnet for agent pool nodes.
        podSubnetID:
          type: string
          description: The ID of the subnet for pods.
        enableNodePublicIP:
          type: boolean
          description: Whether each node gets its own public IP.
        nodePublicIPPrefixID:
          type: string
          description: The public IP prefix ID for the nodes.
        enableEncryptionAtHost:
          type: boolean
          description: Whether to enable host-based encryption.
        enableFIPS:
          type: boolean
          description: Whether to use FIPS-enabled OS.
        enableUltraSSD:
          type: boolean
          description: Whether to enable UltraSSD.
        nodeLabels:
          type: object
          additionalProperties:
            type: string
          description: The node labels to be persisted across all nodes.
        nodeTaints:
          type: array
          items:
            type: string
          description: The taints added to new nodes.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The tags to persist on the VMSS.
        proximityPlacementGroupID:
          type: string
          description: The ID for Proximity Placement Group.
        upgradeSettings:
          $ref: '#/components/schemas/AgentPoolUpgradeSettings'
        powerState:
          $ref: '#/components/schemas/PowerState'
        availabilityZones:
          type: array
          items:
            type: string
          description: The list of Availability zones to use for nodes.
        creationData:
          $ref: '#/components/schemas/CreationData'
        workloadRuntime:
          type: string
          enum:
            - OCIContainer
            - WasmWasi
            - KataMshvVmIsolation
          description: The type of workload a node can run.
        messageOfTheDay:
          type: string
          description: A base64-encoded message of the day for Linux nodes.
    ManagedClusterSKU:
      type: object
      description: The SKU of a Managed Cluster.
      properties:
        name:
          type: string
          description: The name of a managed cluster SKU.
          enum:
            - Base
            - Automatic
        tier:
          type: string
          description: >-
            If not specified, the default is Free. See AKS Pricing Tier for
            more details.
          enum:
            - Free
            - Standard
            - Premium
    ManagedClusterIdentity:
      type: object
      description: Identity for the managed cluster.
      properties:
        principalId:
          type: string
          readOnly: true
          description: >-
            The principal id of the system assigned identity associated with
            this resource.
        tenantId:
          type: string
          readOnly: true
          description: >-
            The tenant id of the system assigned identity associated with
            this resource.
        type:
          type: string
          description: >-
            The type of identity used for the managed cluster.
          enum:
            - SystemAssigned
            - UserAssigned
            - None
        userAssignedIdentities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentity'
          description: >-
            The keys must be ARM resource IDs in the form of
            /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
    UserAssignedIdentity:
      type: object
      description: >-
        Details about a user assigned identity.
      properties:
        resourceId:
          type: string
          description: The resource ID of the user assigned identity.
        clientId:
          type: string
          description: The client ID of the user assigned identity.
        objectId:
          type: string
          description: The object ID of the user assigned identity.
    ExtendedLocation:
      type: object
      description: The complex type of the extended location.
      properties:
        name:
          type: string
          description: The name of the extended location.
        type:
          type: string
          description: The type of the extended location.
          enum:
            - EdgeZone
    SystemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC).
    ContainerServiceLinuxProfile:
      type: object
      description: Profile for Linux VMs in the container service cluster.
      required:
        - adminUsername
        - ssh
      properties:
        adminUsername:
          type: string
          description: The administrator username to use for Linux VMs.
          pattern: '^[A-Za-z][-A-Za-z0-9_]*$'
        ssh:
          type: object
          description: The SSH configuration for Linux-based VMs running on Azure.
          required:
            - publicKeys
          properties:
            publicKeys:
              type: array
              items:
                type: object
                required:
                  - keyData
                properties:
                  keyData:
                    type: string
                    description: >-
                      Certificate public key used to authenticate with VMs
                      through SSH. The certificate must be in PEM format with
                      or without headers.
              description: >-
                The list of SSH public keys used to authenticate with
                Linux-based VMs.
    ManagedClusterWindowsProfile:
      type: object
      description: Profile for Windows VMs in the managed cluster.
      required:
        - adminUsername
      properties:
        adminUsername:
          type: string
          description: >-
            The administrator username to use for Windows VMs.
        adminPassword:
          type: string
          format: password
          description: >-
            The administrator password to use for Windows VMs.
        licenseType:
          type: string
          description: The license type to use for Windows VMs.
          enum:
            - None
            - Windows_Server
        enableCSIProxy:
          type: boolean
          description: Whether to enable CSI proxy.
    ManagedClusterServicePrincipalProfile:
      type: object
      description: >-
        Information about a service principal identity for the cluster to use
        for manipulating Azure APIs.
      required:
        - clientId
      properties:
        clientId:
          type: string
          description: The ID for the service principal.
        secret:
          type: string
          format: password
          description: The secret password associated with the service principal.
    ManagedClusterAddonProfile:
      type: object
      description: A Kubernetes add-on profile for a managed cluster.
      required:
        - enabled
      properties:
        enabled:
          type: boolean
          description: Whether the add-on is enabled or not.
        config:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs for configuring an add-on.
        identity:
          $ref: '#/components/schemas/UserAssignedIdentity'
          readOnly: true
    ContainerServiceNetworkProfile:
      type: object
      description: Profile of network configuration.
      properties:
        networkPlugin:
          type: string
          description: Network plugin used for building the Kubernetes network.
          enum:
            - azure
            - kubenet
            - none
          default: kubenet
        networkPluginMode:
          type: string
          description: The mode the network plugin should use.
          enum:
            - overlay
        networkPolicy:
          type: string
          description: Network policy used for building the Kubernetes network.
          enum:
            - azure
            - calico
            - cilium
            - none
        networkDataplane:
          type: string
          description: Network dataplane used in the Kubernetes cluster.
          enum:
            - azure
            - cilium
        podCidr:
          type: string
          description: A CIDR notation IP range from which to assign pod IPs.
          default: 10.244.0.0/16
        serviceCidr:
          type: string
          description: >-
            A CIDR notation IP range from which to assign service cluster IPs.
          default: 10.0.0.0/16
        dnsServiceIP:
          type: string
          description: >-
            An IP address assigned to the Kubernetes DNS service. It must be
            within the Kubernetes service address range.
          default: 10.0.0.10
        outboundType:
          type: string
          description: The outbound (egress) routing method.
          enum:
            - loadBalancer
            - userDefinedRouting
            - managedNATGateway
            - userAssignedNATGateway
            - none
          default: loadBalancer
        loadBalancerSku:
          type: string
          description: The load balancer sku for the managed cluster.
          enum:
            - standard
            - basic
          default: standard
        loadBalancerProfile:
          $ref: '#/components/schemas/ManagedClusterLoadBalancerProfile'
        natGatewayProfile:
          $ref: '#/components/schemas/ManagedClusterNATGatewayProfile'
        ipFamilies:
          type: array
          items:
            type: string
            enum:
              - IPv4
              - IPv6
          description: >-
            IP families used to specify IP versions available to the cluster.
    ManagedClusterLoadBalancerProfile:
      type: object
      description: Profile of the managed cluster load balancer.
      properties:
        managedOutboundIPs:
          type: object
          properties:
            count:
              type: integer
              format: int32
              minimum: 1
              maximum: 100
              default: 1
              description: >-
                The desired number of outbound IPs created/managed by Azure
                for the cluster load balancer.
          description: Desired managed outbound IPs for the cluster load balancer.
        outboundIPPrefixes:
          type: object
          properties:
            publicIPPrefixes:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: The fully qualified Azure resource id.
          description: >-
            Desired outbound IP Prefix resources for the cluster load balancer.
        outboundIPs:
          type: object
          properties:
            publicIPs:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: The fully qualified Azure resource id.
          description: Desired outbound IP resources for the cluster load balancer.
        effectiveOutboundIPs:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              id:
                type: string
                description: The fully qualified Azure resource id.
          description: The effective outbound IP resources of the cluster load balancer.
        allocatedOutboundPorts:
          type: integer
          format: int32
          minimum: 0
          maximum: 64000
          default: 0
          description: The desired number of allocated SNAT ports per VM.
        idleTimeoutInMinutes:
          type: integer
          format: int32
          minimum: 4
          maximum: 120
          default: 30
          description: >-
            Desired outbound flow idle timeout in minutes.
    ManagedClusterNATGatewayProfile:
      type: object
      description: Profile of the managed cluster NAT gateway.
      properties:
        managedOutboundIPProfile:
          type: object
          properties:
            count:
              type: integer
              format: int32
              minimum: 1
              maximum: 16
              default: 1
              description: The desired number of outbound IPs for the NAT gateway.
          description: The managed outbound IP profile of the NAT gateway.
        effectiveOutboundIPs:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              id:
                type: string
                description: The fully qualified Azure resource id.
          description: The effective outbound IP resources of the NAT gateway.
        idleTimeoutInMinutes:
          type: integer
          format: int32
          minimum: 4
          maximum: 120
          default: 4
          description: >-
            Desired outbound flow idle timeout in minutes.
    ManagedClusterAADProfile:
      type: object
      description: >-
        Azure Active Directory configuration for integration with AKS.
      properties:
        managed:
          type: boolean
          description: Whether to enable managed AAD.
        enableAzureRBAC:
          type: boolean
          description: Whether to enable Azure RBAC for Kubernetes authorization.
        adminGroupObjectIDs:
          type: array
          items:
            type: string
          description: >-
            The list of AAD group object IDs that will have admin role of the
            cluster.
        clientAppID:
          type: string
          description: >-
            (DEPRECATED) The client AAD application ID. Used for legacy/non-managed AAD.
        serverAppID:
          type: string
          description: >-
            (DEPRECATED) The server AAD application ID. Used for legacy/non-managed AAD.
        serverAppSecret:
          type: string
          description: >-
            (DEPRECATED) The server AAD application secret. Used for legacy/non-managed AAD.
        tenantID:
          type: string
          description: >-
            The AAD tenant ID to use for authentication. If not specified, will
            use the tenant of the deployment subscription.
    ManagedClusterAutoScalerProfile:
      type: object
      description: Parameters to be applied to the cluster-autoscaler.
      properties:
        balance-similar-node-groups:
          type: string
          description: >-
            Detects similar node pools and balances the number of nodes between
            them.
        daemonset-eviction-for-empty-nodes:
          type: boolean
          description: >-
            If set to true, all daemonset pods on empty nodes will be evicted
            before deletion of the node.
        daemonset-eviction-for-occupied-nodes:
          type: boolean
          description: >-
            If set to true, all daemonset pods on occupied nodes will be
            evicted before deletion of the node.
        expander:
          type: string
          description: The expander to use when scaling up.
          enum:
            - least-waste
            - most-pods
            - priority
            - random
          default: random
        max-empty-bulk-delete:
          type: string
          description: The maximum number of empty nodes that can be deleted at the same time.
          default: '10'
        max-graceful-termination-sec:
          type: string
          description: >-
            Maximum number of seconds the cluster autoscaler waits for pod
            termination when trying to scale down a node.
          default: '600'
        max-node-provision-time:
          type: string
          description: >-
            The maximum time the autoscaler waits for a node to be provisioned.
          default: 15m
        max-total-unready-percentage:
          type: string
          description: >-
            Maximum percentage of unready nodes in the cluster. After this
            percentage is exceeded, the cluster autoscaler halts operations.
          default: '45'
        new-pod-scale-up-delay:
          type: string
          description: >-
            For scenarios like burst/batch scale where you do not want CA to
            act before the kubernetes scheduler could schedule all the pods.
          default: 0s
        ok-total-unready-count:
          type: string
          description: >-
            Number of allowed unready nodes, irrespective of
            max-total-unready-percentage.
          default: '3'
        scan-interval:
          type: string
          description: How often the cluster is reevaluated for scale up or down.
          default: 10s
        scale-down-delay-after-add:
          type: string
          description: >-
            How long after scale up that scale down evaluation resumes.
          default: 10m
        scale-down-delay-after-delete:
          type: string
          description: >-
            How long after node deletion that scale down evaluation resumes.
          default: scan-interval
        scale-down-delay-after-failure:
          type: string
          description: >-
            How long after scale down failure that scale down evaluation
            resumes.
          default: 3m
        scale-down-unneeded-time:
          type: string
          description: >-
            How long a node should be unneeded before it is eligible for scale
            down.
          default: 10m
        scale-down-unready-time:
          type: string
          description: >-
            How long an unready node should be unneeded before it is eligible
            for scale down.
          default: 20m
        scale-down-utilization-threshold:
          type: string
          description: >-
            Node utilization level, defined as sum of requested resources
            divided by capacity, below which a node can be considered for
            scale down.
          default: '0.5'
        skip-nodes-with-local-storage:
          type: string
          description: >-
            Whether the cluster autoscaler will skip deleting nodes with pods
            with local storage.
          default: 'true'
        skip-nodes-with-system-pods:
          type: string
          description: >-
            Whether the cluster autoscaler will skip deleting nodes with pods
            from kube-system (except for DaemonSet or mirror pods).
          default: 'true'
    ManagedClusterAutoUpgradeProfile:
      type: object
      description: Auto upgrade profile for a managed cluster.
      properties:
        upgradeChannel:
          type: string
          description: The upgrade channel for auto upgrade.
          enum:
            - rapid
            - stable
            - patch
            - node-image
            - none
        nodeOSUpgradeChannel:
          type: string
          description: >-
            The node OS upgrade channel. Manner in which the OS on your nodes
            is updated.
          enum:
            - None
            - Unmanaged
            - SecurityPatch
            - NodeImage
    ClusterUpgradeSettings:
      type: object
      description: Settings for upgrading a cluster.
      properties:
        overrideSettings:
          type: object
          description: Settings for overrides during upgrade.
          properties:
            forceUpgrade:
              type: boolean
              description: >-
                Whether to force upgrade the cluster. Note that this option
                instructs the upgrade operation to bypass upgrade protections.
            until:
              type: string
              format: date-time
              description: Until when the overrides are effective.
    ManagedClusterAPIServerAccessProfile:
      type: object
      description: Access profile for managed cluster API server.
      properties:
        authorizedIPRanges:
          type: array
          items:
            type: string
          description: IP ranges authorized to access the Kubernetes API server.
        enablePrivateCluster:
          type: boolean
          description: Whether to create the cluster as a private cluster or not.
        privateDNSZone:
          type: string
          description: The private DNS zone mode for the cluster.
        enablePrivateClusterPublicFQDN:
          type: boolean
          description: Whether to create a public FQDN for private cluster or not.
        disableRunCommand:
          type: boolean
          description: Whether to disable run command for the cluster.
        enableVnetIntegration:
          type: boolean
          description: Whether to enable API server VNET integration for the cluster.
        subnetId:
          type: string
          description: >-
            The subnet to be used when API server VNET integration is enabled.
    ManagedClusterSecurityProfile:
      type: object
      description: Security profile for the container service cluster.
      properties:
        defender:
          type: object
          description: Microsoft Defender settings for the security profile.
          properties:
            logAnalyticsWorkspaceResourceId:
              type: string
              description: Resource ID of the Log Analytics workspace.
            securityMonitoring:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: Whether to enable Defender threat detection.
        workloadIdentity:
          type: object
          description: Workload identity settings for the security profile.
          properties:
            enabled:
              type: boolean
              description: Whether to enable workload identity.
        imageCleaner:
          type: object
          description: Image Cleaner settings for the security profile.
          properties:
            enabled:
              type: boolean
              description: Whether to enable Image Cleaner.
            intervalHours:
              type: integer
              format: int32
              description: Image Cleaner scanning interval in hours.
    ManagedClusterStorageProfile:
      type: object
      description: Storage profile for the container service cluster.
      properties:
        diskCSIDriver:
          type: object
          properties:
            enabled:
              type: boolean
              description: Whether to enable AzureDisk CSI Driver.
        fileCSIDriver:
          type: object
          properties:
            enabled:
              type: boolean
              description: Whether to enable AzureFile CSI Driver.
        snapshotController:
          type: object
          properties:
            enabled:
              type: boolean
              description: Whether to enable Snapshot Controller.
        blobCSIDriver:
          type: object
          properties:
            enabled:
              type: boolean
              description: Whether to enable AzureBlob CSI Driver.
    ManagedClusterIngressProfile:
      type: object
      description: Ingress profile for the managed cluster.
      properties:
        webAppRouting:
          type: object
          description: Web App Routing settings.
          properties:
            enabled:
              type: boolean
              description: Whether to enable Web App Routing.
            dnsZoneResourceIds:
              type: array
              items:
                type: string
              description: Resource IDs of the DNS zones.
    ManagedClusterOIDCIssuerProfile:
      type: object
      description: The OIDC issuer profile of the Managed Cluster.
      properties:
        issuerURL:
          type: string
          readOnly: true
          description: The OIDC issuer url of the Managed Cluster.
        enabled:
          type: boolean
          description: Whether the OIDC issuer is enabled.
    ManagedClusterMetricsProfile:
      type: object
      description: The metrics profile for the ManagedCluster.
      properties:
        costAnalysis:
          type: object
          properties:
            enabled:
              type: boolean
              description: Whether the cost analysis add-on is enabled.
    ManagedClusterAzureMonitorProfile:
      type: object
      description: Azure Monitor addon profiles for monitoring the managed cluster.
      properties:
        metrics:
          type: object
          description: Metrics profile for the Azure Monitor managed service for Prometheus addon.
          properties:
            enabled:
              type: boolean
              description: Whether to enable the Prometheus collector.
    ServiceMeshProfile:
      type: object
      description: >-
        Service mesh profile for a managed cluster.
      properties:
        mode:
          type: string
          description: Mode of the service mesh.
          enum:
            - Istio
            - Disabled
        istio:
          type: object
          description: Istio service mesh configuration.
          properties:
            revisions:
              type: array
              items:
                type: string
              description: The list of revisions of the Istio control plane.
    ManagedClusterWorkloadAutoScalerProfile:
      type: object
      description: Workload Auto-scaler profile for the managed cluster.
      properties:
        keda:
          type: object
          description: KEDA (Kubernetes Event-driven Autoscaling) settings.
          properties:
            enabled:
              type: boolean
              description: Whether to enable KEDA.
        verticalPodAutoscaler:
          type: object
          description: VPA (Vertical Pod Autoscaler) settings.
          properties:
            enabled:
              type: boolean
              description: Whether to enable VPA.
            controlledValues:
              type: string
              description: >-
                Controls which resource value autoscaler acts on.
              enum:
                - RequestsAndLimits
                - RequestsOnly
    ManagedClusterNodeResourceGroupProfile:
      type: object
      description: Node resource group lockdown profile for a managed cluster.
      properties:
        restrictionLevel:
          type: string
          description: The restriction level applied to the cluster node resource group.
          enum:
            - Unrestricted
            - ReadOnly
    AgentPoolUpgradeSettings:
      type: object
      description: Settings for upgrading an agentpool.
      properties:
        maxSurge:
          type: string
          description: >-
            The maximum number or percentage of nodes that are surged during
            upgrade. This can either be set to an integer (e.g. 5) or a
            percentage (e.g. 50%). If a percentage is specified, it is the
            percentage of the total agent pool size at the time of the upgrade.
        drainTimeoutInMinutes:
          type: integer
          format: int32
          minimum: 1
          maximum: 1440
          description: >-
            The amount of time (in minutes) to wait on eviction of pods and
            graceful termination per node.
        nodeSoakDurationInMinutes:
          type: integer
          format: int32
          minimum: 0
          maximum: 30
          description: >-
            The amount of time (in minutes) to wait after draining a node and
            before reimaging it and moving on to the next node.
    PowerState:
      type: object
      description: Describes the Power State of the cluster.
      properties:
        code:
          type: string
          description: Tells whether the cluster is Running or Stopped.
          enum:
            - Running
            - Stopped
    CreationData:
      type: object
      description: >-
        Data used when creating a target resource from a source resource.
      properties:
        sourceResourceId:
          type: string
          description: >-
            This is the ARM ID of the source object to be used to create the
            target object.
    ManagedClusterListResult:
      type: object
      description: The response from the List Managed Clusters operation.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ManagedCluster'
          description: The list of managed clusters.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of managed cluster results.
    AgentPoolListResult:
      type: object
      description: The response from the List Agent Pools operation.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AgentPool'
          description: The list of agent pools.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of agent pool results.
    ManagedClusterUpgradeProfile:
      type: object
      description: The list of available upgrades for compute pools.
      properties:
        id:
          type: string
          readOnly: true
          description: The ID of the upgrade profile.
        name:
          type: string
          readOnly: true
          description: The name of the upgrade profile.
        type:
          type: string
          readOnly: true
          description: The type of the upgrade profile.
        properties:
          type: object
          required:
            - controlPlaneProfile
            - agentPoolProfiles
          properties:
            controlPlaneProfile:
              type: object
              description: The list of available upgrade versions for the control plane.
              properties:
                kubernetesVersion:
                  type: string
                  description: The Kubernetes version.
                osType:
                  type: string
                  enum:
                    - Linux
                    - Windows
                  default: Linux
                upgrades:
                  type: array
                  items:
                    type: object
                    properties:
                      kubernetesVersion:
                        type: string
                      isPreview:
                        type: boolean
            agentPoolProfiles:
              type: array
              items:
                type: object
                properties:
                  kubernetesVersion:
                    type: string
                  osType:
                    type: string
                    enum:
                      - Linux
                      - Windows
                    default: Linux
                  upgrades:
                    type: array
                    items:
                      type: object
                      properties:
                        kubernetesVersion:
                          type: string
                        isPreview:
                          type: boolean
              description: The list of available upgrade versions for agent pools.
    AgentPoolUpgradeProfile:
      type: object
      description: The list of available upgrades for an agent pool.
      properties:
        id:
          type: string
          readOnly: true
          description: The ID of the agent pool upgrade profile.
        name:
          type: string
          readOnly: true
          description: The name of the agent pool upgrade profile.
        type:
          type: string
          readOnly: true
          description: The type of the agent pool upgrade profile.
        properties:
          type: object
          required:
            - kubernetesVersion
            - osType
          properties:
            kubernetesVersion:
              type: string
              description: The Kubernetes version.
            osType:
              type: string
              enum:
                - Linux
                - Windows
              default: Linux
            upgrades:
              type: array
              items:
                type: object
                properties:
                  kubernetesVersion:
                    type: string
                  isPreview:
                    type: boolean
            latestNodeImageVersion:
              type: string
              description: The latest node image version available for the agent pool.
    AgentPoolAvailableVersions:
      type: object
      description: The available agent pool versions.
      properties:
        id:
          type: string
          readOnly: true
          description: The ID of the agent pool version list.
        name:
          type: string
          readOnly: true
          description: The name of the agent pool version list.
        type:
          type: string
          readOnly: true
          description: The resource type.
        properties:
          type: object
          properties:
            agentPoolVersions:
              type: array
              items:
                type: object
                properties:
                  default:
                    type: boolean
                    description: Whether this version is the default.
                  kubernetesVersion:
                    type: string
                    description: The Kubernetes version.
                  isPreview:
                    type: boolean
                    description: Whether this version is in preview.
    CredentialResults:
      type: object
      description: The list of credential result response.
      properties:
        kubeconfigs:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              name:
                type: string
                readOnly: true
                description: The name of the credential.
              value:
                type: string
                format: byte
                readOnly: true
                description: >-
                  Base64-encoded Kubernetes configuration file.
          description: Base64-encoded Kubernetes configuration file.
    RunCommandRequest:
      type: object
      description: A run command request.
      required:
        - command
      properties:
        command:
          type: string
          description: The command to run.
        context:
          type: string
          description: >-
            A base64 encoded zip file containing the files required by the
            command.
        clusterToken:
          type: string
          description: AuthToken issued for AKS AAD Server App.
    RunCommandResult:
      type: object
      description: Run command result.
      properties:
        id:
          type: string
          readOnly: true
          description: The command id.
        properties:
          type: object
          readOnly: true
          properties:
            provisioningState:
              type: string
              readOnly: true
              description: Provisioning state.
            exitCode:
              type: integer
              format: int32
              readOnly: true
              description: The exit code of the command.
            startedAt:
              type: string
              format: date-time
              readOnly: true
              description: The time when the command started.
            finishedAt:
              type: string
              format: date-time
              readOnly: true
              description: The time when the command finished.
            logs:
              type: string
              readOnly: true
              description: The command output.
            reason:
              type: string
              readOnly: true
              description: An explanation of why provisioningState is set to failed.
    AgentPoolDeleteMachinesParameter:
      type: object
      description: The parameters for deleting machines in an agent pool.
      required:
        - machineNames
      properties:
        machineNames:
          type: array
          items:
            type: string
          description: The list of machine names to delete.
    TagsObject:
      type: object
      description: Tags object for patch operations.
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
    CloudError:
      type: object
      description: An error response from the Container service.
      properties:
        error:
          type: object
          description: Details about the error.
          properties:
            code:
              type: string
              description: >-
                An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: >-
                A message describing the error, intended to be suitable for
                display in a user interface.
            target:
              type: string
              description: >-
                The target of the particular error. For example, the name of
                the property in error.
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
              description: A list of additional details about the error.
externalDocs:
  description: Azure Kubernetes Service REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/aks/
