openapi: 3.1.0
info:
  title: Azure Kubernetes Service REST API
  description: >-
    REST API for managing Azure Kubernetes Service (AKS) resources including
    managed clusters, agent pools, maintenance configurations, snapshots,
    private endpoint connections, and trusted access role bindings. AKS
    simplifies deploying a managed Kubernetes cluster in Azure by offloading
    operational overhead such as health monitoring and maintenance.
  version: '2025-10-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/options/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
  x-apisguru-categories:
  - cloud
  - containers
  - kubernetes
  x-logo:
    url: https://azure.microsoft.com/images/aks-icon.png
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- azure_auth:
  - user_impersonation
tags:
- name: Agent Pools
  description: Operations for managing agent pools (node pools) within AKS clusters
  externalDocs:
    url: https://learn.microsoft.com/en-us/rest/api/aks/agent-pools
- name: Managed Clusters
  description: Operations for managing AKS managed clusters
  externalDocs:
    url: https://learn.microsoft.com/en-us/rest/api/aks/managed-clusters
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/managedClusters:
    get:
      operationId: ManagedClusters_List
      summary: Azure Kubernetes Service List Managed Clusters
      description: >-
        Gets a list of managed clusters in the specified subscription.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedClusterListResult'
              examples:
                ManagedclustersList200Example:
                  summary: Default ManagedClusters_List 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      location: example_value
                      tags: example_value
                      kind: example_value
                    nextLink: example_value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersListdefaultExample:
                  summary: Default ManagedClusters_List default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters:
    get:
      operationId: ManagedClusters_ListByResourceGroup
      summary: Azure Kubernetes Service List Managed Clusters by Resource Group
      description: >-
        Lists managed clusters in the specified subscription and resource group.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedClusterListResult'
              examples:
                ManagedclustersListbyresourcegroup200Example:
                  summary: Default ManagedClusters_ListByResourceGroup 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      location: example_value
                      tags: example_value
                      kind: example_value
                    nextLink: example_value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersListbyresourcegroupdefaultExample:
                  summary: Default ManagedClusters_ListByResourceGroup default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}
  : get:
      operationId: ManagedClusters_Get
      summary: Azure Kubernetes Service Get a Managed Cluster
      description: Gets the details of the managed cluster with a specified resource group and name.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCluster'
              examples:
                ManagedclustersGet200Example:
                  summary: Default ManagedClusters_Get 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    location: example_value
                    tags: example_value
                    sku:
                      name: Base
                      tier: Free
                    kind: example_value
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: SystemAssigned
                      userAssignedIdentities: example_value
                    extendedLocation:
                      name: Example Title
                      type: EdgeZone
                    systemData:
                      createdBy: example_value
                      createdByType: User
                      createdAt: '2026-01-15T10:30:00Z'
                      lastModifiedBy: example_value
                      lastModifiedByType: User
                      lastModifiedAt: '2026-01-15T10:30:00Z'
                    properties:
                      provisioningState: example_value
                      maxAgentPools: 10
                      kubernetesVersion: example_value
                      currentKubernetesVersion: example_value
                      dnsPrefix: example_value
                      fqdnSubdomain: example_value
                      fqdn: example_value
                      privateFQDN: example_value
                      azurePortalFQDN: example_value
                      enableRBAC: true
                      supportPlan: KubernetesOfficial
                      disableLocalAccounts: true
                      nodeResourceGroup: example_value
                      agentPoolProfiles:
                      - {}
                      identityProfile: example_value
                      addonProfiles: example_value
                      diskEncryptionSetID: '500123'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersGetdefaultExample:
                  summary: Default ManagedClusters_Get default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: ManagedClusters_CreateOrUpdate
      summary: Azure Kubernetes Service Create or Update a Managed Cluster
      description: Creates or updates a managed cluster.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: if-match
        in: header
        description: >-
          The request should only proceed if an entity matches this string.
        schema:
          type: string
        example: example_value
      - name: if-none-match
        in: header
        description: >-
          The request should only proceed if no entity matches this string.
        schema:
          type: string
        example: example_value
      requestBody:
        required: true
        description: The managed cluster to create or update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCluster'
            examples:
              ManagedclustersCreateorupdateRequestExample:
                summary: Default ManagedClusters_CreateOrUpdate request
                x-microcks-default: true
                value:
                  id: abc123
                  name: Example Title
                  type: example_value
                  location: example_value
                  tags: example_value
                  sku:
                    name: Base
                    tier: Free
                  kind: example_value
                  identity:
                    principalId: '500123'
                    tenantId: '500123'
                    type: SystemAssigned
                    userAssignedIdentities: example_value
                  extendedLocation:
                    name: Example Title
                    type: EdgeZone
                  systemData:
                    createdBy: example_value
                    createdByType: User
                    createdAt: '2026-01-15T10:30:00Z'
                    lastModifiedBy: example_value
                    lastModifiedByType: User
                    lastModifiedAt: '2026-01-15T10:30:00Z'
                  properties:
                    provisioningState: example_value
                    maxAgentPools: 10
                    kubernetesVersion: example_value
                    currentKubernetesVersion: example_value
                    dnsPrefix: example_value
                    fqdnSubdomain: example_value
                    fqdn: example_value
                    privateFQDN: example_value
                    azurePortalFQDN: example_value
                    enableRBAC: true
                    supportPlan: KubernetesOfficial
                    disableLocalAccounts: true
                    nodeResourceGroup: example_value
                    agentPoolProfiles:
                    - {}
                    identityProfile: example_value
                    addonProfiles: example_value
                    diskEncryptionSetID: '500123'
      responses:
        '200':
          description: OK. The update operation has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCluster'
              examples:
                ManagedclustersCreateorupdate200Example:
                  summary: Default ManagedClusters_CreateOrUpdate 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    location: example_value
                    tags: example_value
                    sku:
                      name: Base
                      tier: Free
                    kind: example_value
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: SystemAssigned
                      userAssignedIdentities: example_value
                    extendedLocation:
                      name: Example Title
                      type: EdgeZone
                    systemData:
                      createdBy: example_value
                      createdByType: User
                      createdAt: '2026-01-15T10:30:00Z'
                      lastModifiedBy: example_value
                      lastModifiedByType: User
                      lastModifiedAt: '2026-01-15T10:30:00Z'
                    properties:
                      provisioningState: example_value
                      maxAgentPools: 10
                      kubernetesVersion: example_value
                      currentKubernetesVersion: example_value
                      dnsPrefix: example_value
                      fqdnSubdomain: example_value
                      fqdn: example_value
                      privateFQDN: example_value
                      azurePortalFQDN: example_value
                      enableRBAC: true
                      supportPlan: KubernetesOfficial
                      disableLocalAccounts: true
                      nodeResourceGroup: example_value
                      agentPoolProfiles:
                      - {}
                      identityProfile: example_value
                      addonProfiles: example_value
                      diskEncryptionSetID: '500123'
        '201':
          description: Created. The create operation has succeeded.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds to check on operation status.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCluster'
              examples:
                ManagedclustersCreateorupdate201Example:
                  summary: Default ManagedClusters_CreateOrUpdate 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    location: example_value
                    tags: example_value
                    sku:
                      name: Base
                      tier: Free
                    kind: example_value
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: SystemAssigned
                      userAssignedIdentities: example_value
                    extendedLocation:
                      name: Example Title
                      type: EdgeZone
                    systemData:
                      createdBy: example_value
                      createdByType: User
                      createdAt: '2026-01-15T10:30:00Z'
                      lastModifiedBy: example_value
                      lastModifiedByType: User
                      lastModifiedAt: '2026-01-15T10:30:00Z'
                    properties:
                      provisioningState: example_value
                      maxAgentPools: 10
                      kubernetesVersion: example_value
                      currentKubernetesVersion: example_value
                      dnsPrefix: example_value
                      fqdnSubdomain: example_value
                      fqdn: example_value
                      privateFQDN: example_value
                      azurePortalFQDN: example_value
                      enableRBAC: true
                      supportPlan: KubernetesOfficial
                      disableLocalAccounts: true
                      nodeResourceGroup: example_value
                      agentPoolProfiles:
                      - {}
                      identityProfile: example_value
                      addonProfiles: example_value
                      diskEncryptionSetID: '500123'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersCreateorupdatedefaultExample:
                  summary: Default ManagedClusters_CreateOrUpdate default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: ManagedClusters_UpdateTags
      summary: Azure Kubernetes Service Update Managed Cluster Tags
      description: Updates tags on a managed cluster.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: Parameters supplied to the Update Managed Cluster Tags operation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsObject'
            examples:
              ManagedclustersUpdatetagsRequestExample:
                summary: Default ManagedClusters_UpdateTags request
                x-microcks-default: true
                value:
                  tags: example_value
      responses:
        '200':
          description: OK. The update tags operation has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCluster'
              examples:
                ManagedclustersUpdatetags200Example:
                  summary: Default ManagedClusters_UpdateTags 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    location: example_value
                    tags: example_value
                    sku:
                      name: Base
                      tier: Free
                    kind: example_value
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: SystemAssigned
                      userAssignedIdentities: example_value
                    extendedLocation:
                      name: Example Title
                      type: EdgeZone
                    systemData:
                      createdBy: example_value
                      createdByType: User
                      createdAt: '2026-01-15T10:30:00Z'
                      lastModifiedBy: example_value
                      lastModifiedByType: User
                      lastModifiedAt: '2026-01-15T10:30:00Z'
                    properties:
                      provisioningState: example_value
                      maxAgentPools: 10
                      kubernetesVersion: example_value
                      currentKubernetesVersion: example_value
                      dnsPrefix: example_value
                      fqdnSubdomain: example_value
                      fqdn: example_value
                      privateFQDN: example_value
                      azurePortalFQDN: example_value
                      enableRBAC: true
                      supportPlan: KubernetesOfficial
                      disableLocalAccounts: true
                      nodeResourceGroup: example_value
                      agentPoolProfiles:
                      - {}
                      identityProfile: example_value
                      addonProfiles: example_value
                      diskEncryptionSetID: '500123'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersUpdatetagsdefaultExample:
                  summary: Default ManagedClusters_UpdateTags default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: ManagedClusters_Delete
      summary: Azure Kubernetes Service Delete a Managed Cluster
      description: Deletes a managed cluster.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The delete operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds to check on operation status.
              schema:
                type: integer
        '204':
          description: No Content. The resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersDeletedefaultExample:
                  summary: Default ManagedClusters_Delete default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/upgradeProfiles/default
  : get:
      operationId: ManagedClusters_GetUpgradeProfile
      summary: Azure Kubernetes Service Get Upgrade Profile for a Managed Cluster
      description: Gets the upgrade profile of a managed cluster.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedClusterUpgradeProfile'
              examples:
                ManagedclustersGetupgradeprofile200Example:
                  summary: Default ManagedClusters_GetUpgradeProfile 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    properties:
                      controlPlaneProfile:
                        kubernetesVersion: example_value
                        osType: Linux
                        upgrades:
                        - {}
                      agentPoolProfiles:
                      - kubernetesVersion: example_value
                        osType: Linux
                        upgrades: {}
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersGetupgradeprofiledefaultExample:
                  summary: Default ManagedClusters_GetUpgradeProfile default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/listClusterAdminCredential
  : post:
      operationId: ManagedClusters_ListClusterAdminCredentials
      summary: Azure Kubernetes Service List Cluster Admin Credentials
      description: Lists the admin credentials of a managed cluster.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResults'
              examples:
                ManagedclustersListclusteradmincredentials200Example:
                  summary: Default ManagedClusters_ListClusterAdminCredentials 200 response
                  x-microcks-default: true
                  value:
                    kubeconfigs:
                    - name: Example Title
                      value: example_value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersListclusteradmincredentialsdefaultExample:
                  summary: Default ManagedClusters_ListClusterAdminCredentials default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/listClusterUserCredential
  : post:
      operationId: ManagedClusters_ListClusterUserCredentials
      summary: Azure Kubernetes Service List Cluster User Credentials
      description: Lists the user credentials of a managed cluster.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResults'
              examples:
                ManagedclustersListclusterusercredentials200Example:
                  summary: Default ManagedClusters_ListClusterUserCredentials 200 response
                  x-microcks-default: true
                  value:
                    kubeconfigs:
                    - name: Example Title
                      value: example_value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersListclusterusercredentialsdefaultExample:
                  summary: Default ManagedClusters_ListClusterUserCredentials default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/listClusterMonitoringUserCredential
  : post:
      operationId: ManagedClusters_ListClusterMonitoringUserCredentials
      summary: Azure Kubernetes Service List Cluster Monitoring User Credentials
      description: Lists the cluster monitoring user credentials of a managed cluster.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResults'
              examples:
                ManagedclustersListclustermonitoringusercredentials200Example:
                  summary: Default ManagedClusters_ListClusterMonitoringUserCredentials 200 response
                  x-microcks-default: true
                  value:
                    kubeconfigs:
                    - name: Example Title
                      value: example_value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersListclustermonitoringusercredentialsdefaultExample:
                  summary: Default ManagedClusters_ListClusterMonitoringUserCredentials default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/rotateClusterCertificates
  : post:
      operationId: ManagedClusters_RotateClusterCertificates
      summary: Azure Kubernetes Service Rotate Cluster Certificates
      description: Rotates the certificates of a managed cluster.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        '204':
          description: No Content.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersRotateclustercertificatesdefaultExample:
                  summary: Default ManagedClusters_RotateClusterCertificates default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/stop
  : post:
      operationId: ManagedClusters_Stop
      summary: Azure Kubernetes Service Stop a Managed Cluster
      description: >-
        Stops a previously running managed cluster. This can only be performed
        on Azure Virtual Machine Scale Set backed clusters. Stopping a cluster
        stops the control plane and agent nodes entirely while maintaining all
        object and cluster state.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        '204':
          description: No Content.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersStopdefaultExample:
                  summary: Default ManagedClusters_Stop default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/start
  : post:
      operationId: ManagedClusters_Start
      summary: Azure Kubernetes Service Start a Managed Cluster
      description: Starts a previously stopped managed cluster.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        '204':
          description: No Content.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersStartdefaultExample:
                  summary: Default ManagedClusters_Start default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/runCommand
  : post:
      operationId: ManagedClusters_RunCommand
      summary: Azure Kubernetes Service Run a Command on a Managed Cluster
      description: >-
        Submits a command to run against the Managed Cluster. This is useful
        for running kubectl commands on a private cluster.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: The run command request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunCommandRequest'
            examples:
              ManagedclustersRuncommandRequestExample:
                summary: Default ManagedClusters_RunCommand request
                x-microcks-default: true
                value:
                  command: example_value
                  context: example_value
                  clusterToken: example_value
      responses:
        '200':
          description: OK. Command completed synchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunCommandResult'
              examples:
                ManagedclustersRuncommand200Example:
                  summary: Default ManagedClusters_RunCommand 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    properties:
                      provisioningState: example_value
                      exitCode: 10
                      startedAt: '2026-01-15T10:30:00Z'
                      finishedAt: '2026-01-15T10:30:00Z'
                      logs: example_value
                      reason: example_value
        '202':
          description: Accepted. The command will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersRuncommanddefaultExample:
                  summary: Default ManagedClusters_RunCommand default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/abort
  : post:
      operationId: ManagedClusters_AbortLatestOperation
      summary: Azure Kubernetes Service Abort the Latest Operation on a Managed Cluster
      description: >-
        Aborts the currently running operation on the managed cluster.
        The Managed Cluster will be moved to a Canceling state and eventually
        to a Canceled state when cancellation finishes.
      tags:
      - Managed Clusters
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        '204':
          description: No Content. No operation running.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ManagedclustersAbortlatestoperationdefaultExample:
                  summary: Default ManagedClusters_AbortLatestOperation default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools
  : get:
      operationId: AgentPools_List
      summary: Azure Kubernetes Service List Agent Pools
      description: Gets a list of agent pools in the specified managed cluster.
      tags:
      - Agent Pools
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPoolListResult'
              examples:
                AgentpoolsList200Example:
                  summary: Default AgentPools_List 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      name: Example Title
                      type: example_value
                    nextLink: example_value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                AgentpoolsListdefaultExample:
                  summary: Default AgentPools_List default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}
  : get:
      operationId: AgentPools_Get
      summary: Azure Kubernetes Service Get an Agent Pool
      description: Gets the specified managed cluster agent pool.
      tags:
      - Agent Pools
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/AgentPoolNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPool'
              examples:
                AgentpoolsGet200Example:
                  summary: Default AgentPools_Get 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    properties:
                      provisioningState: example_value
                      count: 10
                      vmSize: example_value
                      osDiskSizeGB: 10
                      osDiskType: Managed
                      kubeletDiskType: OS
                      maxPods: 10
                      osType: Linux
                      osSKU: Ubuntu
                      type: VirtualMachineScaleSets
                      mode: System
                      orchestratorVersion: example_value
                      currentOrchestratorVersion: example_value
                      nodeImageVersion: example_value
                      enableAutoScaling: true
                      minCount: 10
                      maxCount: 10
                      scaleSetPriority: Spot
                      scaleSetEvictionPolicy: Delete
                      spotMaxPrice: 42.5
                      scaleDownMode: Delete
                      vnetSubnetID: '500123'
                      podSubnetID: '500123'
                      enableNodePublicIP: true
                      nodePublicIPPrefixID: '500123'
                      enableEncryptionAtHost: true
                      enableFIPS: true
                      enableUltraSSD: true
                      nodeLabels: example_value
                      nodeTaints:
                      - {}
                      tags: example_value
                      proximityPlacementGroupID: '500123'
                      availabilityZones:
                      - {}
                      workloadRuntime: OCIContainer
                      messageOfTheDay: example_value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                AgentpoolsGetdefaultExample:
                  summary: Default AgentPools_Get default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: AgentPools_CreateOrUpdate
      summary: Azure Kubernetes Service Create or Update an Agent Pool
      description: Creates or updates an agent pool in the specified managed cluster.
      tags:
      - Agent Pools
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/AgentPoolNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: if-match
        in: header
        description: >-
          The request should only proceed if an entity matches this string.
        schema:
          type: string
        example: example_value
      - name: if-none-match
        in: header
        description: >-
          The request should only proceed if no entity matches this string.
        schema:
          type: string
        example: example_value
      requestBody:
        required: true
        description: The agent pool to create or update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPool'
            examples:
              AgentpoolsCreateorupdateRequestExample:
                summary: Default AgentPools_CreateOrUpdate request
                x-microcks-default: true
                value:
                  id: abc123
                  name: Example Title
                  type: example_value
                  properties:
                    provisioningState: example_value
                    count: 10
                    vmSize: example_value
                    osDiskSizeGB: 10
                    osDiskType: Managed
                    kubeletDiskType: OS
                    maxPods: 10
                    osType: Linux
                    osSKU: Ubuntu
                    type: VirtualMachineScaleSets
                    mode: System
                    orchestratorVersion: example_value
                    currentOrchestratorVersion: example_value
                    nodeImageVersion: example_value
                    enableAutoScaling: true
                    minCount: 10
                    maxCount: 10
                    scaleSetPriority: Spot
                    scaleSetEvictionPolicy: Delete
                    spotMaxPrice: 42.5
                    scaleDownMode: Delete
                    vnetSubnetID: '500123'
                    podSubnetID: '500123'
                    enableNodePublicIP: true
                    nodePublicIPPrefixID: '500123'
                    enableEncryptionAtHost: true
                    enableFIPS: true
                    enableUltraSSD: true
                    nodeLabels: example_value
                    nodeTaints:
                    - {}
                    tags: example_value
                    proximityPlacementGroupID: '500123'
                    availabilityZones:
                    - {}
                    workloadRuntime: OCIContainer
                    messageOfTheDay: example_value
      responses:
        '200':
          description: OK. The update operation has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPool'
              examples:
                AgentpoolsCreateorupdate200Example:
                  summary: Default AgentPools_CreateOrUpdate 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    properties:
                      provisioningState: example_value
                      count: 10
                      vmSize: example_value
                      osDiskSizeGB: 10
                      osDiskType: Managed
                      kubeletDiskType: OS
                      maxPods: 10
                      osType: Linux
                      osSKU: Ubuntu
                      type: VirtualMachineScaleSets
                      mode: System
                      orchestratorVersion: example_value
                      currentOrchestratorVersion: example_value
                      nodeImageVersion: example_value
                      enableAutoScaling: true
                      minCount: 10
                      maxCount: 10
                      scaleSetPriority: Spot
                      scaleSetEvictionPolicy: Delete
                      spotMaxPrice: 42.5
                      scaleDownMode: Delete
                      vnetSubnetID: '500123'
                      podSubnetID: '500123'
                      enableNodePublicIP: true
                      nodePublicIPPrefixID: '500123'
                      enableEncryptionAtHost: true
                      enableFIPS: true
                      enableUltraSSD: true
                      nodeLabels: example_value
                      nodeTaints:
                      - {}
                      tags: example_value
                      proximityPlacementGroupID: '500123'
                      availabilityZones:
                      - {}
                      workloadRuntime: OCIContainer
                      messageOfTheDay: example_value
        '201':
          description: Created. The create operation has succeeded.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds to check on operation status.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPool'
              examples:
                AgentpoolsCreateorupdate201Example:
                  summary: Default AgentPools_CreateOrUpdate 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    properties:
                      provisioningState: example_value
                      count: 10
                      vmSize: example_value
                      osDiskSizeGB: 10
                      osDiskType: Managed
                      kubeletDiskType: OS
                      maxPods: 10
                      osType: Linux
                      osSKU: Ubuntu
                      type: VirtualMachineScaleSets
                      mode: System
                      orchestratorVersion: example_value
                      currentOrchestratorVersion: example_value
                      nodeImageVersion: example_value
                      enableAutoScaling: true
                      minCount: 10
                      maxCount: 10
                      scaleSetPriority: Spot
                      scaleSetEvictionPolicy: Delete
                      spotMaxPrice: 42.5
                      scaleDownMode: Delete
                      vnetSubnetID: '500123'
                      podSubnetID: '500123'
                      enableNodePublicIP: true
                      nodePublicIPPrefixID: '500123'
                      enableEncryptionAtHost: true
                      enableFIPS: true
                      enableUltraSSD: true
                      nodeLabels: example_value
                      nodeTaints:
                      - {}
                      tags: example_value
                      proximityPlacementGroupID: '500123'
                      availabilityZones:
                      - {}
                      workloadRuntime: OCIContainer
                      messageOfTheDay: example_value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                AgentpoolsCreateorupdatedefaultExample:
                  summary: Default AgentPools_CreateOrUpdate default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: AgentPools_Delete
      summary: Azure Kubernetes Service Delete an Agent Pool
      description: Deletes an agent pool in the specified managed cluster.
      tags:
      - Agent Pools
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/AgentPoolNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The delete operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds to check on operation status.
              schema:
                type: integer
        '204':
          description: No Content. The resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                AgentpoolsDeletedefaultExample:
                  summary: Default AgentPools_Delete default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/upgradeProfiles/default
  : get:
      operationId: AgentPools_GetUpgradeProfile
      summary: Azure Kubernetes Service Get the Upgrade Profile for an Agent Pool
      description: Gets the upgrade profile for an agent pool.
      tags:
      - Agent Pools
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/AgentPoolNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPoolUpgradeProfile'
              examples:
                AgentpoolsGetupgradeprofile200Example:
                  summary: Default AgentPools_GetUpgradeProfile 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    properties:
                      kubernetesVersion: example_value
                      osType: Linux
                      upgrades:
                      - kubernetesVersion: example_value
                        isPreview: true
                      latestNodeImageVersion: example_value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                AgentpoolsGetupgradeprofiledefaultExample:
                  summary: Default AgentPools_GetUpgradeProfile default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/availableAgentPoolVersions
  : get:
      operationId: AgentPools_GetAvailableAgentPoolVersions
      summary: Azure Kubernetes Service Get Available Agent Pool Versions
      description: Gets a list of supported Kubernetes versions for the specified agent pool.
      tags:
      - Agent Pools
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/AgentPoolNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPoolAvailableVersions'
              examples:
                AgentpoolsGetavailableagentpoolversions200Example:
                  summary: Default AgentPools_GetAvailableAgentPoolVersions 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    properties:
                      agentPoolVersions:
                      - default: true
                        kubernetesVersion: example_value
                        isPreview: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                AgentpoolsGetavailableagentpoolversionsdefaultExample:
                  summary: Default AgentPools_GetAvailableAgentPoolVersions default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/upgradeNodeImageVersion
  : post:
      operationId: AgentPools_UpgradeNodeImageVersion
      summary: Azure Kubernetes Service Upgrade Node Image Version
      description: Upgrades the node image version of an agent pool to the latest.
      tags:
      - Agent Pools
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/AgentPoolNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The agent pool node image has been upgraded.
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                AgentpoolsUpgradenodeimageversiondefaultExample:
                  summary: Default AgentPools_UpgradeNodeImageVersion default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/abort
  : post:
      operationId: AgentPools_AbortLatestOperation
      summary: Azure Kubernetes Service Abort Latest Operation on an Agent Pool
      description: Aborts the currently running operation on the agent pool.
      tags:
      - Agent Pools
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/AgentPoolNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        '204':
          description: No Content. No operation running.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                AgentpoolsAbortlatestoperationdefaultExample:
                  summary: Default AgentPools_AbortLatestOperation default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/deleteMachines
  : post:
      operationId: AgentPools_DeleteMachines
      summary: Azure Kubernetes Service Delete Specific Machines in an Agent Pool
      description: Deletes specific machines in an agent pool.
      tags:
      - Agent Pools
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/AgentPoolNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        description: The machine names to delete.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPoolDeleteMachinesParameter'
            examples:
              AgentpoolsDeletemachinesRequestExample:
                summary: Default AgentPools_DeleteMachines request
                x-microcks-default: true
                value:
                  machineNames:
                  - example_value
      responses:
        '202':
          description: Accepted. The operation will complete asynchronously.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: URL to query for the operation result.
              schema:
                type: string
            Retry-After:
              description: Suggested delay in seconds.
              schema:
                type: integer
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                AgentpoolsDeletemachinesdefaultExample:
                  summary: Default AgentPools_DeleteMachines default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription. Must be a valid UUID.
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: >-
        The name of the resource group. The name is case insensitive.
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: The name of the managed cluster resource.
      schema:
        type: string
        minLength: 1
        maxLength: 63
        pattern: '^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$'
    AgentPoolNameParameter:
      name: agentPoolName
      in: path
      required: true
      description: The name of the agent pool.
      schema:
        type: string
        minLength: 1
        maxLength: 12
        pattern: '^[a-z][a-z0-9]{0,11}$'
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        default: '2025-10-01'
  schemas:
    ManagedCluster:
      type: object
      description: Managed cluster resource representing an Azure Kubernetes Service cluster.
      required:
      - location
      properties:
        id:
          type: string
          readOnly: true
          description: >-
            Fully qualified resource ID for the resource.
            Example: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}
          example: abc123
        name:
          type: string
          readOnly: true
          description: The name of the resource.
          example: Example Title
        type:
          type: string
          readOnly: true
          description: >-
            The type of the resource.
            Example: Microsoft.ContainerService/managedClusters
          example: example_value
        location:
          type: string
          description: The geo-location where the resource lives.
          example: example_value
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
          example: example_value
        sku:
          $ref: '#/components/schemas/ManagedClusterSKU'
        kind:
          type: string
          description: >-
            This is primarily used to expose different UI experiences in the
            portal for different kinds.
          example: example_value
        identity:
          $ref: '#/components/schemas/ManagedClusterIdentity'
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocation'
        systemData:
          $ref: '#/components/schemas/SystemData'
          readOnly: true
        properties:
          $ref: '#/components/schemas/ManagedClusterProperties'
    ManagedClusterProperties:
      type: object
      description: Properties of the managed cluster.
      properties:
        provisioningState:
          type: string
          readOnly: true
          description: >-
            The current provisioning state of the managed cluster resource.
          example: example_value
        powerState:
          $ref: '#/components/schemas/PowerState'
          readOnly: true
        maxAgentPools:
          type: integer
          format: int32
          readOnly: true
          description: The max number of agent pools for the managed cluster.
          example: 10
        kubernetesVersion:
          type: string
          description: >-
            The version of Kubernetes specified by the user. Both patch version
            (e.g. 1.20.13) and minor version (e.g. 1.20) are supported. When
            a minor version is specified, the latest supported patch version is
            chosen automatically.
          example: example_value
        currentKubernetesVersion:
          type: string
          readOnly: true
          description: >-
            The version of Kubernetes the Managed Cluster is running.
          example: example_value
        dnsPrefix:
          type: string
          description: >-
            This cannot be updated once the Managed Cluster has been created.
          example: example_value
        fqdnSubdomain:
          type: string
          description: >-
            This cannot be updated once the Managed Cluster has been created.
            Used only with private clusters with custom private DNS zone.
          example: example_value
        fqdn:
          type: string
          readOnly: true
          description: The FQDN of the master pool.
          example: example_value
        privateFQDN:
          type: string
          readOnly: true
          description: The FQDN of private cluster.
          example: example_value
        azurePortalFQDN:
          type: string
          readOnly: true
          description: >-
            The special FQDN used by the Azure Portal to access the Managed
            Cluster. It is only set for private cluster enabled clusters.
          example: example_value
        enableRBAC:
          type: boolean
          description: Whether to enable Kubernetes Role-Based Access Control.
          example: true
        supportPlan:
          type: string
          description: The support plan for the Managed Cluster.
          enum:
          - KubernetesOfficial
          - AKSLongTermSupport
          default: KubernetesOfficial
          example: KubernetesOfficial
        disableLocalAccounts:
          type: boolean
          description: >-
            If set to true, getting static credentials will be disabled for
            this cluster.
          example: true
        nodeResourceGroup:
          type: string
          description: >-
            The name of the resource group containing agent pool nodes.
          example: example_value
        nodeResourceGroupProfile:
          $ref: '#/components/schemas/ManagedClusterNodeResourceGroupProfile'
        agentPoolProfiles:
          type: array
          items:
            $ref: '#/components/schemas/ManagedClusterAgentPoolProfile'
          description: The agent pool properties.
          example: []
        linuxProfile:
          $ref: '#/components/schemas/ContainerServiceLinuxProfile'
        windowsProfile:
          $ref: '#/components/schemas/ManagedClusterWindowsProfile'
        servicePrincipalProfile:
          $ref: '#/components/schemas/ManagedClusterServicePrincipalProfile'
        identityProfile:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentity'
          description: Identities associated with the cluster.
          example: example_value
        addonProfiles:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ManagedClusterAddonProfile'
          description: The profile of managed cluster add-ons.
          example: example_value
        networkProfile:
          $ref: '#/components/schemas/ContainerServiceNetworkProfile'
        aadProfile:
          $ref: '#/components/schemas/ManagedClusterAADProfile'
        autoScalerProfile:
          $ref: '#/components/schemas/ManagedClusterAutoScalerProfile'
        autoUpgradeProfile:
          $ref: '#/components/schemas/ManagedClusterAutoUpgradeProfile'
        upgradeSettings:
          $ref: '#/components/schemas/ClusterUpgradeSettings'
        apiServerAccessProfile:
          $ref: '#/components/schemas/ManagedClusterAPIServerAccessProfile'
        diskEncryptionSetID:
          type: string
          description: >-
            The Resource ID of the disk encryption set to use for enabling
            encryption at rest.
          example: '500123'
        securityProfile:
          $ref: '#/components/schemas/ManagedClusterSecurityProfile'
        storageProfile:
          $ref: '#/components/schemas/ManagedClusterStorageProfile'
        ingressProfile:
          $ref: '#/components/schemas/ManagedClusterIngressProfile'
        oidcIssuerProfile:
          $ref: '#/components/schemas/ManagedClusterOIDCIssuerProfile'
        metricsProfile:
          $ref: '#/components/schemas/ManagedClusterMetricsProfile'
        azureMonitorProfile:
          $ref: '#/components/schemas/ManagedClusterAzureMonitorProfile'
        serviceMeshProfile:
          $ref: '#/components/schemas/ServiceMeshProfile'
        workloadAutoScalerProfile:
          $ref: '#/components/schemas/ManagedClusterWorkloadAutoScalerProfile'
    ManagedClusterAgentPoolProfile:
      type: object
      description: Profile for the container service agent pool.
      required:
      - name
      properties:
        name:
          type: string
          description: >-
            The unique name of the agent pool profile in the context of the
            subscription and resource group.
          minLength: 1
          maxLength: 12
          pattern: '^[a-z][a-z0-9]{0,11}$'
          example: Example Title
        count:
          type: integer
          format: int32
          description: >-
            Number of agents (VMs) to host docker containers. Allowed values
            must be in the range of 0 to 1000 (inclusive) for user pools and
            in the range of 1 to 1000 (inclusive) for system pools.
          example: 10
        vmSize:
          type: string
          description: >-
            The size of the agent VMs.
            Example: Standard_DS2_v2
          example: example_value
        osDiskSizeGB:
          type: integer
          format: int32
          minimum: 0
          maximum: 2048
          description: >-
            OS Disk Size in GB to be used to specify the disk size for every
            machine in the master/agent pool.
          example: 10
        osDiskType:
          type: string
          description: The OS disk type to be used for machines in the agent pool.
          enum:
          - Managed
          - Ephemeral
          example: Managed
        kubeletDiskType:
          type: string
          description: >-
            Determines the placement of emptyDir volumes, container runtime
            data root, and Kubelet ephemeral storage.
          enum:
          - OS
          - Temporary
          example: OS
        maxPods:
          type: integer
          format: int32
          description: The maximum number of pods that can run on a node.
          example: 10
        osType:
          type: string
          description: The operating system type.
          enum:
          - Linux
          - Windows
          default: Linux
          example: Linux
        osSKU:
          type: string
          description: >-
            Specifies the OS SKU used by the agent pool.
          enum:
          - Ubuntu
          - AzureLinux
          - CBLMariner
          - Windows2019
          - Windows2022
          - WindowsAnnual
          example: Ubuntu
        type:
          type: string
          description: The type of Agent Pool.
          enum:
          - VirtualMachineScaleSets
          - AvailabilitySet
          - VirtualMachines
          example: VirtualMachineScaleSets
        mode:
          type: string
          description: >-
            The mode of an agent pool. A cluster must have at least one
            System agent pool at all times.
          enum:
          - System
          - User
          - Gateway
          example: System
        orchestratorVersion:
          type: string
          description: >-
            The version of Kubernetes running on the Agent Pool.
          example: example_value
        currentOrchestratorVersion:
          type: string
          readOnly: true
          description: >-
            The version of Kubernetes the Agent Pool is running.
          example: example_value
        nodeImageVersion:
          type: string
          readOnly: true
          description: The version of node image.
          example: example_value
        enableAutoScaling:
          type: boolean
          description: Whether to enable auto-scaler.
          example: true
        minCount:
          type: integer
          format: int32
          description: The minimum number of nodes for auto-scaling.
          example: 10
        maxCount:
          type: integer
          format: int32
          description: The maximum number of nodes for auto-scaling.
          example: 10
        scaleSetPriority:
          type: string
          description: The Virtual Machine Scale Set priority.
          enum:
          - Spot
          - Regular
          default: Regular
          example: Spot
        scaleSetEvictionPolicy:
          type: string
          description: The Virtual Machine Scale Set eviction policy.
          enum:
          - Delete
          - Deallocate
          default: Delete
          example: Delete
        spotMaxPrice:
          type: number
          format: float
          description: >-
            The maximum price (in US Dollars) you are willing to pay for spot
            instances. Possible values are any decimal value greater than zero
            or -1 which indicates that default price is up-to on-demand.
          example: 42.5
        scaleDownMode:
          type: string
          description: >-
            Describes how VMs are added to or removed from Agent Pools.
          enum:
          - Delete
          - Deallocate
          default: Delete
          example: Delete
        vnetSubnetID:
          type: string
          description: >-
            The ID of the subnet which agent pool nodes and optionally pods
            will join on startup.
          example: '500123'
        podSubnetID:
          type: string
          description: >-
            The ID of the subnet which pods will join when launched.
          example: '500123'
        enableNodePublicIP:
          type: boolean
          description: >-
            Whether each node is allocated its own public IP.
          example: true
        nodePublicIPPrefixID:
          type: string
          description: >-
            The public IP prefix ID for the nodes in the agent pool.
          example: '500123'
        enableEncryptionAtHost:
          type: boolean
          description: >-
            Whether to enable host-based OS and data drive encryption.
          example: true
        enableFIPS:
          type: boolean
          description: >-
            Whether to use a FIPS-enabled OS.
          example: true
        enableUltraSSD:
          type: boolean
          description: Whether to enable UltraSSD.
          example: true
        nodeLabels:
          type: object
          additionalProperties:
            type: string
          description: >-
            The node labels to be persisted across all nodes in agent pool.
          example: example_value
        nodeTaints:
          type: array
          items:
            type: string
          description: >-
            The taints added to new nodes during node pool create and scale.
          example: []
        tags:
          type: object
          additionalProperties:
            type: string
          description: >-
            The tags to be persisted on the agent pool virtual machine scale set.
          example: example_value
        proximityPlacementGroupID:
          type: string
          description: The ID for Proximity Placement Group.
          example: '500123'
        upgradeSettings:
          $ref: '#/components/schemas/AgentPoolUpgradeSettings'
        powerState:
          $ref: '#/components/schemas/PowerState'
        availabilityZones:
          type: array
          items:
            type: string
          description: >-
            The list of Availability zones to use for nodes.
            This can only be specified if the AgentPoolType property is
            VirtualMachineScaleSets.
          example: []
        creationData:
          $ref: '#/components/schemas/CreationData'
        workloadRuntime:
          type: string
          description: Determines the type of workload a node can run.
          enum:
          - OCIContainer
          - WasmWasi
          - KataMshvVmIsolation
          example: OCIContainer
        messageOfTheDay:
          type: string
          description: >-
            A base64-encoded string which will be written to /etc/motd after
            decoding. Applicable only for Linux nodes.
          example: example_value
    AgentPool:
      type: object
      description: Agent pool resource within a managed cluster.
      properties:
        id:
          type: string
          readOnly: true
          description: Resource ID.
          example: abc123
        name:
          type: string
          readOnly: true
          description: >-
            The name of the resource that is unique within a resource group.
          example: Example Title
        type:
          type: string
          readOnly: true
          description: Resource type.
          example: example_value
        properties:
          $ref: '#/components/schemas/AgentPoolProperties'
    AgentPoolProperties:
      type: object
      description: Properties for the container service agent pool profile.
      properties:
        provisioningState:
          type: string
          readOnly: true
          description: The current deployment or provisioning state.
          example: example_value
        count:
          type: integer
          format: int32
          description: >-
            Number of agents (VMs) to host docker containers. Allowed values
            must be in the range of 0 to 1000 (inclusive) for user pools and
            in the range of 1 to 1000 (inclusive) for system pools. The
            default value is 1.
          example: 10
        vmSize:
          type: string
          description: The size of the agent VMs.
          example: example_value
        osDiskSizeGB:
          type: integer
          format: int32
          minimum: 0
          maximum: 2048
          description: OS Disk Size in GB.
          example: 10
        osDiskType:
          type: string
          enum:
          - Managed
          - Ephemeral
          description: The OS disk type.
          example: Managed
        kubeletDiskType:
          type: string
          enum:
          - OS
          - Temporary
          description: Kubelet disk type.
          example: OS
        maxPods:
          type: integer
          format: int32
          description: The maximum number of pods that can run on a node.
          example: 10
        osType:
          type: string
          enum:
          - Linux
          - Windows
          default: Linux
          description: The operating system type.
          example: Linux
        osSKU:
          type: string
          enum:
          - Ubuntu
          - AzureLinux
          - CBLMariner
          - Windows2019
          - Windows2022
          - WindowsAnnual
          description: Specifies the OS SKU used by the agent pool.
          example: Ubuntu
        type:
          type: string
          enum:
          - VirtualMachineScaleSets
          - AvailabilitySet
          - VirtualMachines
          description: The type of Agent Pool.
          example: VirtualMachineScaleSets
        mode:
          type: string
          enum:
          - System
          - User
          - Gateway
          description: A cluster must have at least one System agent pool at all times.
          example: System
        orchestratorVersion:
          type: string
          description: The version of Kubernetes running on the Agent Pool.
          example: example_value
        currentOrchestratorVersion:
          type: string
          readOnly: true
          description: The running Kubernetes version on the Agent Pool.
          example: example_value
        nodeImageVersion:
          type: string
          readOnly: true
          description: The version of node image.
          example: example_value
        enableAutoScaling:
          type: boolean
          description: Whether to enable auto-scaler.
          example: true
        minCount:
          type: integer
          format: int32
          description: The minimum number of nodes for auto-scaling.
          example: 10
        maxCount:
          type: integer
          format: int32
          description: The maximum number of nodes for auto-scaling.
          example: 10
        scaleSetPriority:
          type: string
          enum:
          - Spot
          - Regular
          default: Regular
          description: The Virtual Machine Scale Set priority.
          example: Spot
        scaleSetEvictionPolicy:
          type: string
          enum:
          - Delete
          - Deallocate
          default: Delete
          description: The Virtual Machine Scale Set eviction policy.
          example: Delete
        spotMaxPrice:
          type: number
          format: float
          description: The maximum price for spot instances.
          example: 42.5
        scaleDownMode:
          type: string
          enum:
          - Delete
          - Deallocate
          default: Delete
          description: Describes how VMs are added to or removed from Agent Pools.
          example: Delete
        vnetSubnetID:
          type: string
          description: The ID of the subnet for agent pool nodes.
          example: '500123'
        podSubnetID:
          type: string
          description: The ID of the subnet for pods.
          example: '500123'
        enableNodePublicIP:
          type: boolean
          description: Whether each node gets its own public IP.
          example: true
        nodePublicIPPrefixID:
          type: string
          description: The public IP prefix ID for the nodes.
          example: '500123'
        enableEncryptionAtHost:
          type: boolean
          description: Whether to enable host-based encryption.
          example: true
        enableFIPS:
          type: boolean
          description: Whether to use FIPS-enabled OS.
          example: true
        enableUltraSSD:
          type: boolean
          description: Whether to enable UltraSSD.
          example: true
        nodeLabels:
          type: object
          additionalProperties:
            type: string
          description: The node labels to be persisted across all nodes.
          example: example_value
        nodeTaints:
          type: array
          items:
            type: string
          description: The taints added to new nodes.
          example: []
        tags:
          type: object
          additionalProperties:
            type: string
          description: The tags to persist on the VMSS.
          example: example_value
        proximityPlacementGroupID:
          type: string
          description: The ID for Proximity Placement Group.
          example: '500123'
        upgradeSettings:
          $ref: '#/components/schemas/AgentPoolUpgradeSettings'
        powerState:
          $ref: '#/components/schemas/PowerState'
        availabilityZones:
          type: array
          items:
            type: string
          description: The list of Availability zones to use for nodes.
          example: []
        creationData:
          $ref: '#/components/schemas/CreationData'
        workloadRuntime:
          type: string
          enum:
          - OCIContainer
          - WasmWasi
          - KataMshvVmIsolation
          description: The type of workload a node can run.
          example: OCIContainer
        messageOfTheDay:
          type: string
          description: A base64-encoded message of the day for Linux nodes.
          example: example_value
    ManagedClusterSKU:
      type: object
      description: The SKU of a Managed Cluster.
      properties:
        name:
          type: string
          description: The name of a managed cluster SKU.
          enum:
          - Base
          - Automatic
          example: Base
        tier:
          type: string
          description: >-
            If not specified, the default is Free. See AKS Pricing Tier for
            more details.
          enum:
          - Free
          - Standard
          - Premium
          example: Free
    ManagedClusterIdentity:
      type: object
      description: Identity for the managed cluster.
      properties:
        principalId:
          type: string
          readOnly: true
[...]
